<a href="/">all galleries</a><br><br>

<h2><%= @album_name %></h2>

<ul class="gallery">
<% for photo in @photos %>
  <li><a href="<%= photo.link %>" rel="gallery"><img src="/thumb/<%= photo.id %>" alt="<%= photo.name %> | <%= photo.path %>" ></a></li>
<% end %>
</ul>