<a href="/gallery/<%= album.id %>">back to '<%= album.path %>'</a><br><br>

<h2><%= @album.path %> | <%= @photo.name %></h2>

<img src="/image/<%= photo.id %>" alt="<%= photo.name %> | <%= photo.path %>" >