<a href="/gallery/<%= @album.id %>">&laquo; terug naar '<%= @album.path %>'</a><br><br>

<h2><%= @album.name %> - <%= @photo.name %></h2>

<div class="single-image">
	<a href="/gallery/<%= @album.id %>/image/<%= @photo_next.id %>" title="klik voor de volgende foto">
		<img src="/image/<%= @photo.id %>/huge" alt="<%= @photo.name %>">
	</a>
	<br />
	<a href="/image/<%= @photo.id %>/original" target="_blank">download ware grootte</a>
</div>

<a href="/gallery/<%= @album.id %>/image/<%= @photo_prev.id %>" title="<%= @photo_prev.name %>">vorige</a>
 - 
<a href="/gallery/<%= @album.id %>/image/<%= @photo_next.id %>" title="<%= @photo_next.name %>">volgende</a>

<!--
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_identifier = "<%= @album.id %>_<%= @photo.id %>";
  
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://fotosnoort.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
-->