= link_to "&laquo; terug naar overzicht".html_safe, root_path

%h1= @album.name

- @photos.each do |photo|
  = photo.name
  = link_to photo.name, album_photo_path(@album.slug, photo.id)
  = image_tag image_path(photo.id, 'medium'), :alt => photo.name
  %br
