<%= link_to "&laquo; terug naar #{@album.name}", album_path(@album.slug) %>"><br><br>

<h2><%= @album.name %> - <%= @photo.name %> (<%= @count %>/<%= @photos.length %>)</h2>

<div class="single-image">
  <%= link_to album_photo_path(@album.slug, @photo_next.id) do %>
    <%= image_tag image_path(@photo.id, 'huge'), :alt => @photo.name %>
  <% end %>
  <br />
  <%= link_to 'download ware grootte', image_path(@photo.id, 'original') %>
</div>

<%= link_to 'vorige', album_photo_path(@album.slug, @photo_prev.id) %>
 - 
<%= link_to 'volgende', album_photo_path(@album.slug, @photo_next.id) %>
